	<div class="container">
		<center>
			<h1>Listing All Albums Below</h1>	
		</center>
		<div class="album_container" ">
			<% if @albums.present? %>
				<% @albums.each do |album| %>			
			<div class="col-md-3">
				<% if album.images.present? %>
		      <%= link_to image_tag(album.images.first.image.url(:medium), class: "admin_image_settings"), admins_album_images_path(album_id: album.id) %>
					<%= will_paginate @albums %>
		      <% else %>
		          <%= link_to image_tag("default-album.png", width: 205, height: 205) %>
				<% end %>			
			</div>
				<% end %> 
			<% else %>
				<h4>No Albums listed yet</h4>
			<% end %>
		</div>
	</div>