<div class="mailer-main-body" style="padding: 45px;background-color: #eee;">
  <p>
  <div class="heading-miler-name" style="padding-bottom: 20px;">Dear <%= @client.fullname %>,</div>
  <%= @photographer.fullname %> added a connection with you.
  <br>
  <div class="heading-notice-mailer" style="padding-top: 5px;padding-bottom: 20px;">
   All your event's pictures will be shared with you soon
  </div>
  <div>Kind regards,</div>
  <div class="heading-mailer-name" style="padding-bottom: 20px;">Team Piccati</div>
</div>