<div class="mailer-main-body" style="padding: 45px;background-color: #eee;">
  <div class="heading-miler-name" style="padding-bottom: 20px;">Dear <%= @photographer.fullname %>,</div>
  Your request to upgrad plan is pending for admin approval.
  <br>
  <div>Kind regards,</div>
  <div class="heading-mailer-name" style="padding-bottom: 20px;">Team Piccati</div>
</div>