<div class="mailer-main-body" style="padding: 45px;background-color: #eee;">
  <p>
  <div class="heading-miler-name" style="padding-bottom: 20px;">Hello Piccati Management,</div>
  You have a new message:
  <br>
  <div class="heading-notice-mailer" style="padding-top: 5px;padding-bottom: 20px;">
   Name: <%= @name.titleize %><br>
    Email: <%= @email %><br> 
    Message: <%= @message %>
  </div>
  <div>Regards,</div>
  <div class="heading-mailer-name" style="padding-bottom: 20px;">Team Piccati</div>
</div>