<div class="mailer-main-body" style="padding: 45px;background-color: #eee;">
  <p>
  <div class="heading-miler-name" style="padding-bottom: 20px;">Dear Piccati Management,</div>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta nibh sit amet velit sagittis pharetra.
  <br>
  <div class="heading-notice-mailer" style="padding-top: 5px;padding-bottom: 20px;">
   Name: <%= @name.titleize %> has filled out contact us form.<br>
    Email: <%= @email %> %><br> 
    Message: <%= @message %>
  </div>
  <div>Kind regards,</div>
  <div class="heading-mailer-name" style="padding-bottom: 20px;">Piccati Admin</div>
</div>