<div class="footer">
	<div class="footer-inner">
		<div class="footer-content">
			<span class="bigger-120">
				<span class="blue bolder">Piccati</span>
				Application &copy; <%= Time.now.year %>
			</span>

		</div>
	</div>
</div>