<tr style="margin: 0;padding: 0;font-size: 14px;font-family: 'Avenir Next', &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;line-height: 1.6;color: #3b3335;">
  <td class="content" style="margin: 0;padding: 50px 35px 50px 35px;font-size: 14px;font-family: 'Avenir Next', &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;line-height: 1.6;color: #3b3335;background: #eeeeee;">
    <h2 style="margin: 0;padding: 0;font-size: 14px;font-family: 'Avenir Next', &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;line-height: 1.25;color: #353333;margin-bottom: 20px;font-weight: bold;">Hello <%= @client.fullname %>,</h2>
    <p style="margin: 0;padding: 0;font-size: 14px;font-family: 'Avenir Next', &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;line-height: 1.6;color: #3b3335;font-weight: normal;margin-bottom: 20px;"><%= @photographer.fullname %> added you as a client on Piccati. Use your existing Piccati account to view profile and portfolio of <%= @photographer.fullname %> and have access to view, select and manage your events image gallery from anywhere in the world.
    </p>
    <p style="margin: 0;padding: 0;font-size: 14px;font-family: 'Avenir Next', &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;line-height: 1.6;color: #3b3335;font-weight: normal;margin-bottom: 20px;">Team Piccati wishes everlasting relationship between photographers and clients.</p>  
    <p style="margin: 0;padding: 0;font-size: 14px;font-family: 'Avenir Next', &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;line-height: 1.6;color: #3b3335;font-weight: normal;margin-bottom: 20px;">
      <pre style="margin: 0;padding: 0;font-size: 14px;font-family: 'Avenir Next', &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;line-height: 1.6;color: #3b3335;font-weight: normal;margin-bottom: 20px;">Kind regard,Team Piccati</pre>
    </p>
  </td>
</tr>