<div class="mailer-main-body" style="padding: 45px;background-color: #eee;">
	<p>
	<div class="heading-miler-name" style="padding-bottom: 20px;">Dear <%= @client.fullname %>,</div>
	<%= @photographer.firstname.titleize %> invites you to join PICCATI.
	You are now one step short of using Piccati, Please verify your email address and join the celebrated community of photographers and clients at Piccati.  
	<br>
	<div class="heading-notice-mailer" style="padding-top: 5px;padding-bottom: 20px;">
	Team Piccati wishes everlasting relationship between photographers and clients.
	</div>
	<div>Kind regards,</div>
	<div class="heading-mailer-name" style="padding-bottom: 20px;">Team Piccati</div>
</div>