<div class="mailer-main-body" style="padding: 45px;background-color: #eee;">
	<p>
	<div class="heading-miler-name" style="padding-bottom: 20px;">Dear <%= @client.fullname %>,</div>
	<%= @photographer.fullname %> has added you as a client in his clients list.
	<br>
	<!-- <div class="heading-notice-mailer" style="padding-top: 5px;padding-bottom: 20px;">
		Please Request your Photographer to share your Event's Pictures.
	 --></div>
	<div>Kind regards,</div>
	<div class="heading-mailer-name" style="padding-bottom: 20px;">Team Piccati</div>
</div>