<div class="mailer-main-body" style="padding: 45px;background-color: #eee;">
	<p>
	<div class="heading-miler-name" style="padding-bottom: 20px;">Dear Sir/Madam,,</div>
	<%= @photographer.firstname.titleize %> invites you to join PICCATI.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta nibh sit amet velit sagittis pharetra.  
	<br>
	<div class="heading-notice-mailer" style="padding-top: 5px;padding-bottom: 20px;">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta nibh sit amet velit sagittis pharetra. Donec elementum, odio vel consectetur accumsan, ante dolor placerat urna, at bibendum eros enim cursus libero. Morbi feugiat elit mi. Ut eleifend sed eros eget tristique. In pulvinar ut mi quis convallis.
	</div>
	<div>Kind regards,</div>
	<div class="heading-mailer-name" style="padding-bottom: 20px;">Team Piccati</div>
</div>