<div class="package-details">  
  <h1 class="heading-client-mangement heading-client-mangement-bot-margin heading-clientlist">Events List of selected Client</h1>
  <div class="col-md-12 selected-pkg">
    <div class="selected-pkg-adjust selected-pkg-adjust-bot">
      <div class="col-md-4 selected-pkg-adjust-bot">Package</div>
      <div class="col-md-8 selected-pkg-adjust-bot"><%= @package.package || "No Package" %></div>
      <div class="col-md-4 selected-pkg-adjust-bot">Advance</div>
      <div class="col-md-8 selected-pkg-adjust-bot"><%= @package.advance || "No Package" %></div>
      <div class="col-md-4 selected-pkg-adjust-bot">Total</div>
      <div class="col-md-8 selected-pkg-adjust-bot"><%= @package.total || "No Package" %></div>
      <div class="col-md-4 selected-pkg-adjust-bot">Balnace</div>
      <div class="col-md-8 selected-pkg-adjust-bot"><%= @package.balance || "No Package" %></div>
    </div>
  </div>
</div>