<div class="col-md-9 email-add-client-field-view">
<div class="rss-feed">
<ul class="live-search-list">
	<% clients.each do |client| %>
		<li class="list-search-client-des"><%= link_to client.email, "#", class: "select-searched-email" %></li>
	<% end %>
</ul>
</div>
</div>