<h1>Clients#delete</h1>
<p>Find me in app/views/clients/delete.html.erb</p>
<div class="delete-class">
<%= form_for(@client) do  |f| %>
<table class="delete">
	<tr>
		<th>First Name</th>
		<td><%= f.text_area :firstname %></td>
	</tr>
</table>
<div class="btn">
	<%= submit_tag('Yes')%>
</div>
<% end %>
</div>