<div class="container-fluid">
	<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 download-app-margin">
		<center><h1 class="download-app-margin-heading">Connection between <br>Photographer and Client.</h1>
		<p class="download-app-margin-para">A community of renowned Photographers, having illustrious portfolio, all made available to shoot your events. Surf through photographers portfolios and choose the one right for you, exclusively using mobile app.</p></center>
		<div class="MT53">
			<div class="col-md-6">
				<button class="btn button4 downloadapp-btn"><i class="fa fa-apple" aria-hidden="true"></i> App Store</button>
			</div>
			<div class="col-md-6">
				<button class="btn button4 downloadapp-btn"><i class="fa fa-android" aria-hidden="true"></i> Play Store</button>
			</div>
		</div>
	</div>
</div>