<div style="margin-top:80px;"></div>
<div class="container">
	<% @events.each do |event| %>
  <div class="col-md-12">
  <div class="col-md-12">
  <%unless liked_images(event).blank?%>
    <h1 class="album-text-align"><%= event.name.titleize %></h1>
	</div>
	<div class="col-md-12 album-text-align"> 
		<p class="text-para">by <%= event.photographer.firstname.titleize+" "+event.photographer.lastname.titleize %></p>
		<hr class="hr-album">
	</div>
	</div>
  <div class="row">
    <div class="col-md-12" style="margin-bottom:50px;">
      <ul style="list-style:none;" class="ul-li">
        <% liked_images(event).each do |img| %>
          <li style="display: inline;" data-src="<%= img.image.url%>" class="col-md-2">
            <img style="width: 100%;" src="<%= img.image.url(:medium) %>" />
          </li>
        <% end %>
      </ul>
      <%end%>
    </div>
  </div>
  <%end%>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.ul-li').lightGallery();
  });
</script>
