<div>
	<h1 class="center" > <%= @event.name.titleize%> Gallery </h1>
</br>
		<ul style="list-style:none;" id="ul-li">
			<% @image.each do |img| %>
			  <li style="display: inline;" data-src="<%= img.image.url%>">
			     <img class= "img-rounded"  src="<%= img.image.url(:medium) %>" />
			  </li>
			<% end %>
		</ul>
</div>
<script type="text/javascript">
  $(document).ready(function() {
  	$('#ul-li').lightGallery();
  });
</script>