<div class="table-responsive">
<br></br>
	<h1 class ="center" ><b>Gallery</b>  </h1>
	<div align="center">
		<%= image_tag(@image.image(:original), :width => "800", :height => "500" , class: "img-rounded") %>
		</div>
</div>