<%= form_tag photographer_album_public_image_path(current_photographer.id, @album.id), class: "dropzone dropzone-album",style:"", multipart: true do %>
  <div class="fallback">
    <%= file_field_tag :file %>
  </div>
<% end %>
      
<script type="text/javascript">
  $(function() {
    var myDropzone = new Dropzone(".dropzone");
    myDropzone.on("queuecomplete", function(file) {
    // $(".submit-album").click();
    });
  });
</script>
    