<div style="margin-top:80px;"></div>
<div class="container">
	<div class="col-md-12">
	<div class="col-md-12">
		<h1 class="album-text-align">Album Name</h1>
	</div>
	<div class="col-md-12 album-text-align"> 
		<p class="text-para">by Photographer Name  <span class="pull-right">Add Pictures |  Edit </span></p>
		<hr class="hr-album">
	</div>
	</div>
  <div class="row">
    <div class="col-md-12" style="margin-bottom:50px;">
       <div class="col-md-2">
      	 <img src="https://thumbs.dreamstime.com/z/photographer-busy-work-19465158.jpg" alt="Logo-1" style="width:100%;">
       </div>
       <div class="col-md-2">
      	 <img src="https://thumbs.dreamstime.com/z/photographer-busy-work-19465158.jpg" alt="Logo-1" style="width:100%;">
       </div>
       <div class="col-md-2">
      	 <img src="https://thumbs.dreamstime.com/z/photographer-busy-work-19465158.jpg" alt="Logo-1" style="width:100%;">
       </div>
       <div class="col-md-2">
      	 <img src="https://thumbs.dreamstime.com/z/photographer-busy-work-19465158.jpg" alt="Logo-1" style="width:100%;">
       </div>
       <div class="col-md-2">
      	 <img src="https://thumbs.dreamstime.com/z/photographer-busy-work-19465158.jpg" alt="Logo-1" style="width:100%;">
       </div>
       <div class="col-md-2">
      	 <img src="https://thumbs.dreamstime.com/z/photographer-busy-work-19465158.jpg" alt="Logo-1" style="width:100%;">
       </div>
    </div>
  </div>
</div>
<h1>Listing Albums</h1>	
	<% @albums.each do |album| %>
<div class="row">
		<div class="col-md-1">
		</div>
	  <div class="col-md-1" style="padding-left: 0px;margin-top: 20px;">
		  <%#= link_to 'Edit', edit_photographer_album_path(id: album.id) %>
		  <%#= link_to 'Destroy', photographer_album_path(id: album.id), method: :delete, data: { confirm: 'Are you sure?' } %>
		  <%=link_to image_tag("folder-icon.png",class: "img-rounded"), photographer_album_path(id: album.id)%>
	  </div>
	  <div class="col-md-1">
	  </div>
</div>
	<% end %>
<%= link_to 'New Album', new_photographer_album_path, class: "btn btn-link-1" %>
