<%= week_calendar number_of_weeks: 1, events: @events, previous_link: events_ajax_previous_link, next_link: events_ajax_next_link do |date, events| %>
	  <%= date %>
	  <% events.each do |event| %>
	    <div>
	      <%= link_to  event.name, all_images_photographer_client_event_path(id: event.id, client_id: event.client_id, photographer_id: event.client.photographer.id) %>
	    </div>
	  <% end %>
	<% end %>