<div class="col-md-6"></div>
<div class="dropdown col-md-6 drop-down-btn-cal">
  <button class="btn btn-default dropdown-toggle drop-down-btn-cal-beauty btn-dropdown-design" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="button_class"><%= params[:calendar_type].present? ? params[:calendar_type].capitalize+"ly" : "Monthly" %></span>
    <span class="caret drop-down-btn-cal-beauty caret-cal"></span>
  </button>
  <ul class="dropdown-menu dropdown-cal-ul" aria-labelledby="dropdownMenu1">
    <li class="btn-drop-padding-li"><%= link_to "Monthly", photographer_events_info_path(calendar_type: "month"), class: 'calender-tab month-sel link-padding-zero', remote: true %></li>
    <li><%= link_to "Weekly", photographer_events_info_path(calendar_type: "week"), class: 'calender-tab week-sel link-padding-zero', remote: true %></li>
  </ul>
</div>
<div class="container-fluid">
	<div class="calender_and_info">
		<%= render partial: "calender_and_info", calendar_event: @calendar_event %>
	</div>
</div>
<div id="add_calender_event_popup" style="z-index:9999">
	<div id="popupContact" class="form-calandar-popup-loc">
		<div id="add_calender_event"></div>		
	</div>
</div>