<br><br><br>
<%= month_calendar events: @events do |date, events| %>
  <%= date %>
  <% events.each do |event| %>
    <div>
      <%= link_to  event.name, all_images_photographer_client_event_path(id: event.id, client_id: event.client_id, photographer_id: event.client.photographer.id) %>
    </div>
  <% end %>
<% end %>