<h2></h2>
<% if photographer_signed_in? %>
<%= link_to'logout', destroy_photographer_session_path, :method => :delete %>
<% else %>
<%= link_to('Signup' , new_photographer_registration_path)%><br>
<%= link_to('Login', photographer_session_path)%>
<% end %>

