<div class="background-image">
  <div class="top-content topspacing">
    <div>
      <div class="container-fluid">
        <div class="col-md-3 connect-client">
          <table>
            <tbody class="nav nav-tabs zero-border-bottom">
              <tr class="Profile-heading zero-border-bottom">
                <th class="tbheaderback">
                  <div class="col-md-11 col-xs-11">
                    <%= link_to "Profile", "#",  data: { id: "update_profile" }, class: "settings profile-tab-btn" %>
                  </div>   
                  <div class="col-md-1 col-xs-1 email-add-client-field-view"><i class="fa fa-angle-right font-awesome-size"></i></div>
                </th>
              </tr>
              <tr class="zero-border-bottom">
                <th class="tbheaderback">
                  <div class="col-md-11 col-xs-11">
                    <%= link_to "Password & Security", "#",  data: { id: "change_password" }, class: "settings profile-tab-btn"  %>
                  </div>   
                  <div class="col-md-1 email-add-client-field-view"><i class="fa fa-angle-right font-awesome-size"></i></div>
                </th>
              </tr>
              <tr class="zero-border-bottom">
                <th class="tbheaderback">
                  <div class="col-md-11 col-xs-11">
                    <%= link_to "Packages", "#",  data: { id: "package_details" }, class: "settings profile-tab-btn"  %>
                  </div>   
                  <div class="col-md-1 email-add-client-field-view"><i class="fa fa-angle-right font-awesome-size"></i></div>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="show_settings">
          <%= render partial: "update_profile" %> 
        </div>
      </div>
    </div>
  </div>
</div>
