<div class="background-image">
  <div class="top-content topspacing">
    <div>
      <div class="container">
        <div class="col-md-3">
          <table>
            <tbody class="nav nav-tabs">
              <tr class="Profile-heading">
                <th class="tbheaderback">
                  <div class="col-md-10">
                    <%= link_to "Profile", "#",  data: { id: "update_profile" }, class: "settings" %>
                  </div>   
                  <div class="col-md-2"><i class="fa fa-angle-right font-awesome-size"></i></div>
                </th>
              </tr>
              <tr>
                <th class="tbheaderback">
                  <div class="col-md-10">
                    <%= link_to "Password & Security", "#",  data: { id: "change_password" }, class: "settings"  %>
                  </div>   
                  <div class="col-md-2"><i class="fa fa-angle-right font-awesome-size"></i></div>
                </th>
              </tr>
              <tr>
                 <th class="tbheaderback">
                  <div class="col-md-10">
                    <%= link_to "Connect Client", "#",  data: { id: "connect_client" }, class: "settings" %> 
                  </div>   
                  <div class="col-md-2"><i class="fa fa-angle-right font-awesome-size"></i></div>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="show_settings">
          <%= render partial: "update_profile" %> 
        </div>
      </div>
    </div>
  </div>
</div>