
<div style="margin-top:80px;"></div>
<div class="row">
  <div class="container">
    <div class="col-md-12" style="margin-top:150px;margin-left: 60px;">
      <div class="col-md-3">
        <div class="boxhead pictureContainer">
          <center><%=link_to image_tag("client-ani.png"), photographer_clients_path(current_photographer)%></center>
        </div>
        <p class="menu-first-page">Client Management</p>
      </div>
      <div class="col-md-3">
        <a href="http://google.com" class="link-menu">
          <div class="boxhead pictureContainer">
            <center><%= image_tag 'calender-ani.png'%></center>
          </div>
          <p class="menu-first-page" style="text-indent: 1em;">Events Planner</p>
        </a>
      </div>
      <div class="col-md-3">
        <div class="boxhead pictureContainer">  
            <center><%=link_to image_tag("album-ani.png"), photographer_albums_path(current_photographer)%>
            </center>
          </div>
          <p class="menu-first-page" style="text-indent: 1em;">Public Albums</p>
      </div>
      <div class="col-md-3">
        <div class="boxhead pictureContainer">
          <center><%=link_to image_tag("setting-ani.png"), edit_photographer_registration_path(current_photographer)%></center>
        </div>
        <p class="menu-first-page" style="text-indent: 2.5em;">      Settings</p>
      </div>

    </div>
  </div>
</div>