<br></br>
<br></br>
<br></br>

<h1 align="center">Event</h1>
<table class="table">
	<tr>
		<th scope="row">Client Event</th>
	</tr>
		<% @event.each do |eve| %>
	<tr>
    	<td>
    	   <!-- <th>EventName</th> -->
    	   <%= eve.bridal%>
    	    <%= eve.location %>

    	   <b> <%= eve.name %></b>
    	    

	  <%#= link_to('Show', photographer_client_event_path(current_photographer.id, eve.client_id, eve.id))%>

	  <%= link_to('Show',  all_images_api_v1_photographer_client_event_path(current_photographer,eve.client.id,eve.id))%>
	    <%#= link_to('Edit', edit_photographer_client_path(current_photographer,clt.id,eve.id))%>
          <%#= link_to('Event',photographer_client_events_path(current_photographer.id,clt.id))%>
	        <%#= link_to('Destroy',photographer_client_path(current_photographer,clt.id), :method => 'delete')%>
       
       	</td>
  	</tr>
   <% end %>
</table>

<br>
<%#= link_to('Add-Event',{:action => 'new'})%>
</div>