h1 {
  font-family: initial !important;
}

.ace-save-state{
  padding-right: 0px;
  height: 27px;  
	margin-bottom: 0px !important;

}

.page-header {
    padding-bottom: 9px;
    margin: 0px 0 20px !important; 
    border-bottom: 1px solid #eee;
  }

#sidebar-toggle-icon {
  height: 20px;
}

.footer .footer-inner .footer-content {
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 4px;
  padding: 8px;
  line-height: 36px;
  border-top: 3px double #E5E5E5;
}

.btn-admin {
  height: 30px !important;
}

.ace-settings-container {
    position: relative;
    right: 0;
    top: auto;
    z-index: 12;
}


.container {
  position: absolute;
}


.admin_image_settings {
  width: 100%;
  height: 100%;
}

.album_container {
  margin-left:200px;
}

.update-album {
  position: absolute;
  top: 0.5em;
  right: 0em;
}

.album_images_checkbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.album_image_width {
  width: 100%;
}

.photographers_container {
  position: absolute;
  left: 19em;  
}

.admin_photgraphers_container {
  position: absolute;
  left: 28em;  
}

.admin_plans_btn{
  height: 24px !important;
  line-height: 8px !important; 
}
.container_heading {
  margin-left: 4em;
}
.border_right {
  border-right-width: 0px !important;
}

.btn_disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}

#new_plan {
  position: absolute;
  left: 25em;
  width: 500px;
}

.btn_setting {
/*  background-color: none !important;*/
  height: 23px !important;
  line-height: 9px !important;
}

.plan_form_field {
  border: 1px solid #dcdcdc !important;
}

.button-container {
  left: 68em;
  position: absolute;
  top: 4.9em;

}

.sidebar_settings {
  overflow: hidden;
}

.admin_logo_text {
  position: absolute;left: 3em;top: 0.8em;
}

.edit_plan {
  position: absolute;
  left: 37em;
  top: 9em;
}

.edit_heading {
  position: absolute;left: 15em;
}