.devise-noti {
  padding-left: 192px !important;
}

.selected {
  color: #4B88B7 !important;
  background-color: #F1F5F9 !important;
  text-decoration: none !important;
}

h1 {
  font-family: initial !important;
}
.navbar-default {
    background-color: #003366 !important;
    border-color: #003366 !important;
}

.ace-nav>li.light-blue>a {
  background-color: #003366;
}
.ace-nav>li.light-blue>a:focus, .ace-nav>li.light-blue>a:hover, .ace-nav>li.open.light-blue>a {
  background-color: #003366;
}

.dropdown, .dropup {
  position: absolute !important; 
  left: 57.3em;
  top: 4.9em;
}

button.btn:active {
/*  color: #003366 !important;
*/  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ace-save-state{
  padding-right: 0px;
  height: 27px;  
	margin-bottom: 0px !important;

}

.page-header {
    padding-bottom: 9px;
    margin: 0px 0 20px !important; 
    border-bottom: 1px solid    background-color: rgba(49, 49, 49, 0.76); #eee;
  }

#sidebar-toggle-icon {
  height: 20px;
}

.footer .footer-inner .footer-content {
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 4px;
  padding: 8px;
  line-height: 36px;
  border-top: 3px double #E5E5E5;
}

.btn-admin {
  height: 30px !important;
}

.ace-settings-container {
    position: relative;
    right: 0;
    top: auto;
    z-index: 12;
}


.container {
    margin-left: 0px;
    margin-right: 0px;
}

.sidebar-left-admin
{
  position:absolute;
  top: 50px;
}

.admin_image_settings {
  width: 100%;
  height: 100%;
}

.album_container {
  margin-left:200px;
}

.update-album {
    position: absolute;
    top: 90px;
    float: left;
    padding-left: 15px;
}

.album_images_checkbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.album_image_width {
  width: 100%;
}

.photographers_container {
  position: absolute;
  left: 19em;  
}
.plans_container {
  padding: 30px 0px 0px 200px;   
}

.admin_clients_container {
  position: absolute;
  left: 24em;      
}
.admin_photgraphers_container {
  padding: 30px 0px 0px 200px;   
}

.admin_plans_btn{
  height: 24px !important;
  line-height: 8px !important; 
}
.container_heading {
  margin-left: 3em;
}
.border_right {
  border-right-width: 0px !important;
}

.btn_disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}

#new_plan {
  position: absolute;
  padding: 30px 0px 0px 200px;
  width: 700px;
}

.btn_setting {
/*  background-color: none !important;*/
  height: 23px !important;
  line-height: 9px !important;
}

.btn_ajax_1 {
  height: 28px !important;
  line-height: 1px !important;
  left: 64em;
  bottom: 1em;
  position: absolute;
}
.btn_ajax_1:active {
  top: 26px !important; 
}
.btn_ajax_2:active {
  top: 26px !important; 
}

.btn_ajax_2 {
  height: 28px !important;
  line-height: 1px !important;
  left: 54em;
  bottom: 1em;
  position: absolute;
}

.plan_form_field {
  border: 1px solid #dcdcdc !important;
}

.photographers_container {
  left: 17em;
  top: 6em;
}

.button-container {
  position: absolute;
  top: 90px;
  right: 160px;
}

.sidebar_settings {
  overflow: hidden;
}

.admin_logo_text {
  position: absolute;left: 3em;top: 0.8em;
}

.edit_plan {
  position: absolute;
  left: 37em;
  top: 9em;
}

.edit_heading {
  position: absolute;left: 15em;
}

.dropdown_settings {
  height: 23px !important;
  line-height: 0px !important;
  background-color: #003366 !important;
}

.clients-button-container {
  position: absolute;
  top: 90px;
  right: 160px;
}

.bigger-120 {
  margin-right: 13em;
}
.admin_header_image {
  position: absolute;height: 35px;padding-bottom: 9px;
}

.select_admin {
  height: 23px !important;
  padding: 0px 6px !important;
}

.admin_dashboard_section {
  position: absolute;
  left: 31em;
  top: 7em;  
}

.admin_dashboard_settings {
  position: absolute;
  left: 24em;  
}

.user-info small {
    display: inline-block;
}

.user-info {
    font-weight: bolder;
} 

.spacing-ablbum-heding
{
  margin: 30px 0px 30px 0px;
}

.album-pictures-spacing
{
  margin: 0px 0px 30px 0px;
}

.menu-top-setting
{
  margin: 7px 40px 0px 0px !important;
}

.album-approval-btn
{
  float: right;
  left: 785px;
  top: 12px;
  width: 125px;
  height: 40px !important;
}

#photographer_image_popup
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: rgba(49, 49, 49, 0.76);
    overflow: auto;
}

div#popupContact {
    position: relative;
    width: auto;
    margin: 10px;
    font-family: 'SegoeUI';
    width: 600px;
    margin: 150px auto;
}

.img-photographer-profile-sett
{
  width: 95%;
}

.sign-up-pop-alignment
{
  background-color: #fff;
  padding: 1px;
  min-height: 430px;
}

.para-photographer-pop-admin
{
    font-size: 25px;
    padding: 10px;
}

.heading-admin-side
{
  padding: 10px 0px 0px 215px;
}

.heading-plan-admin-side
{
  padding: 10px 0px 0px 200px;
}

.btn-plan-admin
{
  width: 100%;
  height: 50px;
}


.table-plans-list
{
  display: flex;
  justify-content: center;
}

.link-plans-btn
{
  width: 75px;
  margin: 0px 15px 0px 0px
}

.link-plans-btn-width
{
  width: 75px;
}


.table-plans tr, tr >th , .table-photgrapher-plans tr, tr >th
{
  text-align: center;
}
