// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tr-selected
{
  background-color: #003366 !important;
}

a.tr-selected{
  color:white;
}
.show-client-events{
  color:#23527c;
}