// Place all the styles related to the Photographers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events-info{
	margin-top: 65px;
}
.next-month{
	opacity: 0;
}
.prev-month{
	opacity: 0;
}