body {
  
    font-family: 'SegoeUI';
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    background-image: url(http://static1.squarespace.com/static/54174487e4b03dbd0c081bda/561ff4fde4b0b02e3cd33bb8/561ff502e4b0eb2227835570/1444934915222/Nigerian-Wedding-Photographer-0403.jpg);
    background-repeat: no-repeat;
}

strong { font-weight: 500; 

}

a, a:hover, a:focus {
  text-decoration: none;

    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.center{
  text-align: center;
  color: #ffffff;
  
}

.txt{
  color: #de615e;
  font-size: 17px;
  
}



/*.style{
  text-decoration: none;
  color: #ffffff
}*/
h1, h2 {
  margin-top: 10px;
  font-size: 30px;
    font-weight: 100;
    color: #555;
    line-height: 35px;
    font-family: arial;
}

h3 {
  font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #de615e; color: #fff; text-shadow: none; }
::selection { background: #de615e; color: #fff; text-shadow: none; }


.btn-link-1 {
  display: inline-block;
  height: 50px;
  margin: 5px;
  padding: 16px 20px 0 20px;
  background: #de615e;
  font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #ffffff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
  padding-right: 5px;
  vertical-align: middle;
  font-size: 20px;
  line-height: 20px;
}

.btn-link-2 {
  display: inline-block;
  height: 50px;
  margin: 5px;
  padding: 15px 20px 0 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

.inner-bg {
    padding: 100px 0 170px 0;
}

.top-content .text {
  color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
  margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
  color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
  margin-top: 35px;
}

.form-top {
  overflow: hidden;
  -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
  text-align: left;
}

.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #fff;
  line-height: 100px;
  text-align: right;
  opacity: 0.3;
}

.form-bottom {
  -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
  text-align: left;
}

.form-bottom form textarea {
  height: 100px;
}

.form-bottom form button.btn {
  width: 100%;
}

.form-bottom form .input-error {
  border-color: #de615e;
}

.social-login {
  margin-top: 35px;
}

.social-login h3 {
  color: #fff;
}

.social-login-buttons {
  margin-top: 25px;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
  
  .inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {
  
  h1, h2 { font-size: 32px; }

}
/************************** New *****************/
.form-control {
          width: 100%;
          }

.asdf{
  width: 10%;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #000;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover 
{
    color: #000;
    background-color: #fff;
}


td, th {
   border:none;
}

a {
    text-decoration: none;
}

.form-browse-btn input {
  height: 50px;
}

.text-decor
{
  text-decoration: none;
}

.login-btn
{
  background: #7b868a; margin-top: 15px;height: 50px;width:100%; height: 50px;margin: 0;padding: 0 20px;vertical-align: middle;border: 0;font-family: 'Roboto', sans-serif;font-size: 16px;font-weight: 300;line-height: 50px;color: #fff;margin-top: 15px;
}

.btn-submit
{
  background: #7b868a; margin-top: 15px;height: 50px;width:100%; height: 50px;margin: 0;padding: 0 20px;vertical-align: middle;border: 0;font-family: 'Roboto', sans-serif;font-size: 16px;font-weight: 300;line-height: 50px;color: #fff;
}

.btn-facebook
{
  background: #3b5998; margin-top: 15px;height: 50px;width:100%; height: 50px;margin: 0;padding: 0 20px;vertical-align: middle;border: 0;font-family: 'Roboto', sans-serif;font-size: 16px;font-weight: 300;line-height: 50px;color: #fff;margin-top: 15px;
}

.btn-sign-up
{
  background: #155845; margin-top: 15px;height: 50px;width:100%; height: 50px;margin: 0;padding: 0 20px;vertical-align: middle;border: 0;font-family: 'Roboto', sans-serif;font-size: 16px;font-weight: 300;line-height: 50px;color: #fff;margin-top: 15px;
}
.powered-logo
{
  width: 75%;margin-top: 10px;margin-bottom: 10px;
}

.footer-bottom-div
{
  background-color:#003366;padding: 1rem;
}


/* ********************  New Desgin ****************** */
  body
  {
    background-image: url('bg-new.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
  height: 100%;
  font-size: 16px;
  }
  .navbar-brand 
  {
    padding: 7px 15px;
  }
  .navbar-inverse 
  {
    background-color: #003366;
    border-color: #003366;
  }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand 
  {
    margin-left: 25px;
  }
  .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover 
  {
    color: #fff;
    background-color: #003366;
  }
  .navbar-inverse .navbar-nav>li>a 
  {
    color: #FFF;
  }
  .dropdown-menu 
  {
    width: 100%;
  }
  footer
  {
      position: fixed;
      bottom: 0;
      width: 100%;
      padding-top: 10px;
      text-align: center;
  } 
  .form-box 
  {
    margin-top: 0px;
  }
  input[type="email"], input[type="password"], input[type="text"], textarea, textarea.form-control 
  {
  border-radius: 0px;
  border: 0px; 
  }
  .input-field-setting
  {
    margin-bottom: 1px;
  }
  .form-top-left 
  {
    padding-top: 0px;
  }

  .form-field-password
  {
    width: 120%;height: 50px;border-right-width: 0px;border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;padding-bottom: 0px;padding-left: 10px;
  }
  .submit-main-btn
   {
    width: 95%!important;
    margin-top: 3px !important;
    height: 45px !important;
    background-color: transparent !important;
    color: grey !important;
    border-left-width: 0px !important;
    padding-right: 0px!important;
    border-right-width: 0px!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    border-top-width: 0px!important;
    border-bottom-width: 0px!important;
    padding-top: 0px !important;
    padding-bottom: 5px!important;
    padding-right: 10px !important;
    padding-left: 10px !important;
   }
  .sign-up-btn 
    {
    font-size: 30px;
  }
   .submit-main-btn:hover
   {
    color: #003366 !important
   }
   .button-signup
   {
    background-color: Transparent !important;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
   }
   .button-signup:hover
   {
    text-decoration: underline;
   }
  
   input[type="email"], input[type="password"], input[type="text"], textarea, textarea.form-control 
   {
        border: 1px solid #ccc!important;
   }
      #abc1 {
      width:100%;
      height:100%;
      top:0;
      left:0;
      display:none;
      position:fixed;
      background-color: rgba(49, 49, 49, 0.76);
      overflow:auto
      }
      img#close {
      position:absolute;
      right: -35px;
        top: 0px;
      cursor:pointer
      }
      div#popupContact {
      position:absolute;
      left:50%;
      top:17%;
      margin-left:-202px;
      font-family:'Raleway',sans-serif
      }
      .form-action {
        width: 500px;
        min-width: 250px;
        padding: 50px 50px;
        /* border: 2px solid gray; */
        /* border-radius: 10px; */
        font-family: raleway;
        background-color: #fff;
      }
      textarea {
      background-image:url(https://www.aorank.com/tutorial/createpopupform_livedemo/images/msg.png);
      background-repeat:no-repeat;
      background-position:5px 7px;
      width:82%;
      height:95px;
      padding:10px;
      resize:none;
      margin-top:30px;
      border:1px solid #ccc;
      padding-left:40px;
      font-size:16px;
      font-family:raleway;
      margin-bottom:30px
      }
      #submit {
      margin-top: 1px;
      text-decoration:none;
      width:100%;
      text-align:center;
      display:block;
        background-color: #ddd;
        color: #003366;
      padding:10px 0;
      font-size:20px;
      cursor:pointer;
      /*border-radius:5px*/
      }
      #submit:hover {
      margin-top: 1px;
      text-decoration:none;
      width:100%;
      text-align:center;
      display:block;
        background-color: #003366;
        color: #fff !important;
        border: 1px solid #003366;
      padding:10px 0;
      font-size:20px;
      cursor:pointer;
      /*border-radius:5px*/
      }

  .menu-first-page
  {
      margin-top: 15px;
      color: white;
      font-size: 17px;
  }
  .boxhead:hover
  {
    text-decoration: none;
  } 
  .menu-first-page:hover
  {
    text-decoration: none;
  }
  .pictureContainer 
  {
      height: 160px;
      width: 150px;
      overflow: hidden;
  }
  .pictureContainer img {
    transform: translate3d(0px, 0px, 0px);
}
.pictureContainer img:hover {
    transform: translate3d(0px, -150px, 0px);
}
.pictureContainer img {
    transform: translate3d(0px, 0px, 0px);
    transition: transform .2s ease-in-out;
}
.pictureContainer img:hover {
    transform: translate3d(0px, -150px, 0px);
}

  .menu-first-page
  {
      margin-top: 15px;
      color: white;
      font-size: 17px;
      float: left;
  }

/* Client Mangament */

  table {
      font-family: 'SegoeUI';
      border-collapse: collapse;
      width: 100%;
      color: #fff;
  }

  td, th {
      font-family: 'SegoeUI';
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      color: #003366;
      background-color: #fff;
      border-bottom: 1pt solid #dcdcdc;
  }
  tr:nth-child(odd) {
    color: #003366;
      background-color: #fff;
    border-bottom: 1pt solid #dcdcdc;
  }
  .button 
  {
      background-color: #fff;
      color: #003366;
      border: none;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 0px;
      cursor: pointer;
  }
  .button4 {width: 100%;}
  .button4:hover
  {
    background-color: #003366;; /* Green */
    color: #fff !important;
  }
  #abc {
      width:100%;
      height:100%;
      top:0;
      left:0;
      display:none;
      position:fixed;
      background-color: rgba(49, 49, 49, 0.76);
      overflow:auto
      }

  input[type="text"]:focus, input[type="password"]:focus, textarea:focus, textarea.form-control  {
    border: 3px solid #ddd;
}

input[type="email"], input[type="password"], input[type="text"], textarea, textarea.form-control 
  {
    border: 0px !important;
    }
/* ***************** PL Upload ************************ */
.plupload_header {
    background: #003366 url('../img/backgrounds.gif') repeat-x;
}

.plupload_header_title:after {
  content: ' to Upload';
}

.plupload_header_text:before
{
  content: '*';
}
.plupload_add 
{
    background-color: #fff;
    border: none;
    color: #003366;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
}

.plupload_filelist_footer {
    border-top: 1px solid #dcdcdc;
    background-color: #fff;
    height: 45px;
    padding-top: 0px;
}

.plupload_start 
{
    background-color: #fff;
    border: none;
    color: #003366;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    margin-left: 5px;
}

.plupload_file_size, .plupload_file_status, .plupload_file_action {
    text-align: right;
    margin-top: 12px;
}

.plupload_button:hover {
    color: #003366;
    background-color: #fff;
    text-decoration: none;
}
.plupload_button:hover {
    color: #003366!important;
    background-color: #fff !important;
    text-decoration: none;
}


.plupload_file_name {
    float: left;
    overflow: hidden;
    font-size: 16px;
    margin-top: 12px;
}

.plupload_file_size, .plupload_file_status, .plupload_file_action {
    font-size: 16px;
}

.plupload_file_size, .plupload_file_status, .plupload_file_action {
    font-size: 16px;
}
.plupload_buttons {
    margin-top: -12px;
}
      #abc123 {
      width:100%;
      height:100%;
      top:0;
      left:0;
      display:none;
      position:fixed;
      background-color: rgba(49, 49, 49, 0.76);
      overflow:auto
      }

  #container {
  width: 100px;
  height: 20px;
  position: relative;
}
#navi
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#infoi {
  width: 240%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
}
#infoi {
  z-index: 10;
}
  .searchbox{
    position:relative;
    min-width:50px;
    width:0%;
    height:22px;
    float:right;
    overflow:hidden;
    padding: 0px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:#003366;
    width:100%;
    height:50px;
    margin:0;
    padding:0px 55px 0px 20px;
    font-size:20px;
    color:#fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.searchbox-input::-webkit-input-placeholder {
    color: #d74b4b;
}
.searchbox-input:-moz-placeholder {
    color: #d74b4b;
}
.searchbox-input::-moz-placeholder {
    color: #d74b4b;
}
.searchbox-input:-ms-input-placeholder {
    color: #d74b4b;
}

.searchbox-icon,
.searchbox-submit{
    width:50px;
    height:50px;
    display:block;
    position:absolute;
    top: -15px;
    font-family:verdana;
    font-size:22px;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:50px;
    text-align:center;
    cursor:pointer;
    color:#dcddd8;
    background: #003366;
}

.searchbox-open{
    width:100%;
    top: 0px;
}

.byline{
  position:absolute;
  top:150px;
  left:30%;
  text-align:center;
  font-size:18px;
}
.byline a{
  text-decoration:none;
  color: #d74b4b;
}

#abc2 {
      width:100%;
      height:100%;
      top:0;
      left:0;
      display:none;
      position:fixed;
      background-color: rgba(49, 49, 49, 0.76);
      overflow:auto
      }
      #abc {
      width:100%;
      height:100%;
      top:0;
      left:0;
      display:none;
      position:fixed;
      background-color: rgba(49, 49, 49, 0.76);
      overflow:auto
      }
      img#close {
      position:absolute;
      right: -35px;
        top: 0px;
      cursor:pointer
      }
      div#popupContact {
      position:absolute;
      left:50%;
      top:17%;
      margin-left:-202px;
      font-family:'Raleway',sans-serif
      }
      form {
        width: 500px;
        min-width: 250px;
        padding: 50px 50px;
        /* border: 2px solid gray; */
        /* border-radius: 10px; */
        font-family: 'SegoeUI';
      }
      p {
      margin-top:30px
      }
      h2 {
      background-color:white;
      padding:20px 35px;
      margin:-10px -50px;
      text-align:center;
      border-radius:10px 10px 0 0
      }
      hr {
      margin:10px -50px;
      border:0;
      border-top:1px solid #ccc
      }
      input[type=text] {
      width:82%;
      padding:10px;
      padding-left: 20px !important;
      font-size: 24px !important;
      font-family: 'SegoeUI' !important;
      margin-top:1px;
      border:1px solid #ccc;
      padding-left:40px;
      font-size:16px;
      font-family:raleway
      }
      #name {
      background-image:url(https://www.aorank.com/tutorial/createpopupform_livedemo/images/name.jpg);
      background-repeat:no-repeat;
      background-position:5px 7px
      }
      #email {
      background-image:url(https://www.aorank.com/tutorial/createpopupform_livedemo/images/email.png);
      background-repeat:no-repeat;
      background-position:5px 7px
      }
      textarea {
      background-image:url(https://www.aorank.com/tutorial/createpopupform_livedemo/images/msg.png);
      background-repeat:no-repeat;
      background-position:5px 7px;
      width:82%;
      height:95px;
      padding:10px;
      resize:none;
      margin-top:30px;
      border:1px solid #ccc;
      padding-left:40px;
      font-size:16px;
      font-family:raleway;
      margin-bottom:30px
      }
      #submit {
      margin-top: 1px;
      text-decoration:none;
      width:100%;
      text-align:center;
      display:block;
        background-color: #003366;
        color: #fff;
        border: 1px solid #003366;
      padding:10px 0;
      font-size:20px;
      cursor:pointer;
      /*border-radius:5px*/
      }
      #submit:hover {
      margin-top: 1px;
      text-decoration:none;
      width:100%;
      text-align:center;
      display:block;
        background-color: #ddd;
        color: #003366 !important;
       /* border: 1px solid #003366;*/
      padding:10px 0;
      font-size:20px;
      cursor:pointer;
      /*border-radius:5px*/
      border: none;
      }
      span {
      color:white;
      font-weight:700
      }
      button {
      width:10%;
      height:45px;
      /*border-radius:3px;*/
      background-color:#cd853f;
      color:#fff;
      font-family:'Raleway',sans-serif;
      font-size:18px;
      cursor:pointer
      }
      #name {
        width: 82%;
        padding: 10px;
        margin-top: 30px;
        border: 1px solid #ccc;
        padding-left: 40px;
        font-size: 16px;
        font-family: raleway;
        background-image: url(https://www.aorank.com/tutorial/createpopupform_livedemo/images/name.jpg);
        background-repeat: no-repeat;
        background-position: 5px 7px;
      }
      .btn-edit:hover
      {
        color: #003366 !important;
      }
      .btn-del:hover
      {
        color: #003366 !important;
      }

.client_fields{
  width: 100% !important;
  height: 50px;
  margin-bottom: 1px;
  padding-left: 10px;
}

  tr:focus{
      color: #fff;
      background-color: #003366;
      border-bottom: 1pt solid #dcdcdc;
  }
 .button5 {width: 100%;}
  .button5:hover
  {
    background-color: #ddd;
    color: #003366 !important;
  }

.album-text-align
{
      text-align: left;
      color: white;
}

.text-para
{
  margin-top: 0px;
}

.hr-album
{
  margin: 15px 0px;
}


input[type=text] {
  width: 100%;
}


.wrap table {
    width: 100%;
    table-layout: fixed;
}

table tr td {
    padding: 5px;
    border: 1px solid #eee;
    width: 100px;
    word-wrap: break-word;
}

table.head tr td {
    background: #eee;
}

.inner_table {
    height: 300px;
    overflow-y: auto;
}
.inner_table1 {
    height: 100px;
    overflow-y: auto;
  }


.header-fixed {
    width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    max-height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 50%;
    float: left;
}

.selected-pkg
{
  background-color: #003366;
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
}
.selected-pkg-adjust
{
  margin-top: 20px;
}
.selected-pkg-adjust-bot
{
  margin-bottom: 20px;
}
.heading-client-mangement
{
    font-size: 26px;
    color: white;
}
.heading-client-mangement-bot-margin
{
  margin-bottom: 60px;
}

.table-row-width
{
  width: 100% !important;
}

.event-btn
{
  margin-bottom: 50px;
}


input:-ms-input-placeholder {
   color:#ccc;
}

input::-webkit-input-placeholder {
   color:#ccc;
}

input:-moz-placeholder {
   color:#ccc;
}

/* firefox 19+ */
input::-moz-placeholder {
   color:#ccc;
}

.searchbox-input, .actual-edit-overlay {
    -webkit-text-fill-color:  #7F7F7F;
}

input::-webkit-input-placeholder {
     color:blue;
  }


.heading-description-calendar
{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}


.detail-description-calendar
{
  font-size: 11px;line-height: 14px;padding-bottom: 10px;
}

.btn-edit-calendar
{
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;cursor: pointer;
  overflow: hidden;
  outline:none;
  width: 45%;
  height: 18px;
}

.btn-cancel-calendar
{
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;cursor: pointer;
  overflow: hidden;
  outline:none;
  width: 45%;
  height: 18px;
}

.btn-style
{
  font-size: 16px;color: #003366;
}

.calendar-heading:after {
    position: relative;
    left: -273px;
}

.calendar-heading a:first-child 
{
  float: left;
  color: white;
}

.calendar-heading a:last-child 
{
  float: right;
  color: white;
}

.btn-calandar-description-alignment
{
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 0px;
}

.calendar-entry-table-height
{
    min-height: 364px;
    background-color: #fff;
}

.editprofileheading
{
  height: 50px;
  background-color: #003366;
  text-align: left;
  padding: 15px;
  font-size: 16px;
}


.edit-prfile-para
{
  color:white;
  margin-bottom:0px;
  font-weight: bold;
  margin: 0 auto;
  font-family: 'SegoeUI';
  font-size: 16px;
}

.background-main-edit-profile
{
  background-color:#dcdcdc;
}

@font-face 
    {
    font-family: 'SegoeUI';
    src: url('segoeui.eot'); /* IE9 Compat Modes */
    src: url('segoeui.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('segoeui.woff2') format('woff2'), /* Modern Browsers */
    url('segoeui.woff') format('woff'), /* Modern Browsers */
    url('segoeui.ttf') format('truetype'), /* Safari, Android, iOS */
    url('segoeui.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
    font-style: normal;
  }

.Profile-heading
{
    padding: 5px;
    background-color: #003366 !important;
    color: white !important; 
}

.profile-password-security
{
      padding: 13px;
     border: 0px;
    font-size: 16px;
}

.form-edit-profile-view
{
    width: 100%;
    padding: 0px;
}

.profile-pic-field
{
    width: 150% !important;
    height: 80px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-bottom-width: 0px !important;
    padding-bottom: 15px !important;
    padding-left: 10px !important;
}

.btn-profile
{
  width: 95%;
  margin-top: 20px;
  height: 45px;
  background-color: white;
  color: grey;
  border-left-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-right-width: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

.watermark-field
{
  width: 133.5% !important;
  height: 80px !important;
  border-right-width: 0px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-bottom-width: 0px !important;
  padding-bottom: 15px !important;
  padding-left: 10px !important;
}

.btn-watermark-field
{
  width: 90%;
  margin-top: 20px;
  height: 45px;
  background-color: white;
  color: grey;
  border-left-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-right-width: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}


.zero-border
{
  border: 0px !important;
  border-radius: 0px;
}

.form-setting-forall
{
    padding-left: 20px;
    font-size: 24px;
    font-family: 'SegoeUI';
}



.client-table-setting
{
    min-height: 350px;
    background-color: white;
}

.basic-pkg
{
  width: 100%;
}

.heading-clientlist
{
  float: left;
  font-family: 'SegoeUI';
  color: white;
  font-weight: normal;
  font-size: 26px;
}

.center-align-tag
{
  display: flex;
  margin-top: 5px;
}


.btn.focus, .btn:focus, .btn:hover {
    color: #FFF;
    text-decoration: none;
}

.btn-uploadimage
{
  color: #003366;
}

.btn-uploadimage:focus , .btn-uploadimage:hover 
{
  background-color: #003366 !important;
  color: #fff !important;
}

.add-photos-event
{
  color: #fff;
}

.add-photos-event:focus , .add-photos-event:hover 
{
  color: #003366;
  background-color: 
}

.btn-uploadimage1
{
  color: #003366 !important;
}

.btn-uploadimage1:focus , .btn-uploadimage1:hover 
{
  background-color: #003366 !important;
  color: #fff !important;
}

.height-event-box
{
  min-height: 52px;
  display: flex !important;
  justify-content: center;
  flex-direction: column;
}

.show-event:focus , .show-event:hover 
{
  background-color: #003366 !important;
  color: #fff !important;
}
.show-event
{
  color: #003366 !important;
}

.topspacing
{
  margin-top: 120px;
}

.email-edit-field
{
  width: 100%;
  margin-top: 1px !important;
}

.profile-tab
{
    width: 1200% !important;
    height: 80px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-bottom-width: 0px !important;
    padding-bottom: 15px !important;
    padding-left: 10px !important;
}

.field-chooseprofile
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    z-index: -1;
    margin-top: 30px;
}

.field-chooseprofile + label {
    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
    margin-right: 200px;
}




.field-chooseprofile1
{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  z-index: -1;
  margin-top: 30px;
  margin-left: 40px;
}

.profile-tab1
{
    width: 200% !important;
    height: 80px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-bottom-width: 0px !important;
    padding-bottom: 15px !important;
    padding-left: 10px !important;
}


.rss-feed ul {
list-style: none;
padding: 0;
margin: 1em 0 0.5em;
}

.rss-feed a {
text-decoration: none;
color: #fff;
}

.rss-feed {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 5px;
background-color: #003366;
color: white;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 0px;
}



.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 60px;
}

.img-card
{
  width: 100%;
}
.btn-basic-pkg
{
  background-color: #82bad6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}
.btn-stadard-pkg
{
  background-color: #67c26d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}
.btn-prem-pkg
{
  background-color: #d2cb5f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.bot-spacing
{
  margin-bottom: 70px;
}

.btn-prem-pkg:hover , .btn-stadard-pkg:hover ,.btn-basic-pkg:hover
{
  background-color: #003366;
}