<td class="content">
  <h2>Dear Sadjal Jsdalkdj,</h2>
  <p>You are now one step short of using Piccati, Please verify your email address and join the celebrated community of photographers and clients at Piccati.<br /> Team Piccati wishes everlasting relationship between photographers and clients. Verfiy Your Account by clicking on the link below.</p>
  <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %>
  <p><pre>Kind regard, Team Piccati</pre></p>
</td>
