<div class="mailer-main-body" style="padding: 45px;background-color: #eee;">
  <div class="heading-miler-name" style="padding-bottom: 20px;">Hello <%= @resource.fullname %>,</div>
  Your request for the change of Password is entertained. Team Piccati extends its gratitude for your continuous trust on the services provided by Piccati.
  <div class="heading-notice-mailer" style="padding-top: 5px;padding-bottom: 20px;">
    Click the link below for a new password,<br>
    <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %>
    <p>Team Piccati wishes everlasting relationship between photographers and clients.</p>  
  </div>
  <div>Regards,</div>
  <div class="heading-mailer-name" style="padding-bottom: 20px;">Team Piccati</div>
</div>