<div class="mailer-main-body">
  <p>
  <div class="heading-miler-name">Dear <%= @resource.fullname %>,</div>
  You have requested a link to change your password. You can do this by clicking <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: "btn btn-primary" %>
  <br>
  <div class="heading-notice-mailer">
    Team Piccati wishes everlasting relationship between photographers and clients.
  </div>
  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>

  <div>Kind regards,</div>
  <div class="heading-mailer-name">Piccati Admin</div>
  <div><a href="http://app.piccati.com">Login to Piccati</a></div>
</div>