<div class="mailer-main-body" style="padding: 45px;background-color: #eee;">
  <div class="heading-miler-name" style="padding-bottom: 20px;">Dear <%= @resource.fullname %>,</div>
  You have requested to reset your password. Please click the following link to update your Password <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: "btn btn-primary" %>
  
  <div class="heading-notice-mailer" style="padding-top: 5px;padding-bottom: 20px;">
    <p>If you didn't send reset request, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>  
  </div>
  

  <div>Kind regards,</div>
  <div class="heading-mailer-name" style="padding-bottom: 20px;">Team Piccati</div>
</div>