<div class="container-fluid">
  <div class="col-md-3">
    <h1 class="heading-clientlist">My Clients</h1>
    <div>
      <table class="table header-fixed">
        <thead>
          <tr class="Profile-heading">
            <div>
              <th class="table-row-width heading-table-client">
                <div id="container">
                  <div id="navi">Search Client</div>
                  <div id="infoi">
                    <form class="searchbox">
                      <input type="search" placeholder="Search......" name="search" class="searchbox-input color-picker" onkeyup="buttonUp();" required>
                      <input type="submit" class="searchbox-submit" value="GO">
                      <span class="searchbox-icon"><i class="fa  fa-search" style="font-size: 21px;color: #fff;"></i></span> 
                    </form>
                  </div>
                </div>
              </th>
            </div>
          </tr>
        </thead>
        <tbody class="client-table-setting">
          <% if @clients.blank? %>
            <tr>
              <td class="empty-tb-setting">
                No Client Found
              </td>
            </tr>
          <% end %>
          <% @clients.each do |client| %>
            <%cls = @path.present? && @path[:client_id] == client.id.to_s ? 'tr-selected' : "" %>
            <% abc = cls == "tr-selected" ? "abc" : ""%>
            <% if @path.present? && @path[:action] == "index" %>
              <% abc = "" %>
            <% end %>
            <tr class="photographer-clients-list <%= cls %> <%= abc %>">
              <td class="table-row-width zero-border zero-padding">
                <div class="col-md-8 center-align-tag">
                  <%= link_to client.fullname, "#", class: "show-client-events client-event-anchor-design", data: { id: client.id } %>
                </div>
                <% if client.is_invited?(current_photographer) %> 
                  <div class="col-md-4 center-align-tag">
                     <%= link_to 'Invite',"#", class: "btn btn-uploadimage1 invite-client-again", style: "margin-top: 10px; border: 1px solid #ccc;", data: { id: client.id } %>
                   </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <button class="button button4 client_management_popup" data-id= "add_client" data-popup="add_client_popup" data-client-id= "" ><i class="fa fa-plus-circle"></i> Add Client</button>
    </div>
    <div id="add_client_popup" style="z-index: 9999">
      <div id="popupContact" class="form-calandar-popup-loc">
        <div id="add_client"></div>  
      </div>
    </div>
  </div>

  <div id="edit_client_popup" style="z-index: 9999; display: none">
    <div id="popupContact">
      <div class="edit-package-form"></div>
    </div>
  </div>
  <div class="events-section"></div>
  
</div>
