<div style="margin-top:80px;"></div>
<div class="container">
  <div class="col-md-3">
    <div>
      <table class="table table-striped header-fixed">
      <thead>
        <tr >
        <div>
          <th class="table-row-width" style="background-color: #003366;color: #fff;">
            <div id="container">
            <div id="navi">Client Name</div>
            <div id="infoi">
              <form class="searchbox">
                  <input type="search" placeholder="Search......" name="search" class="searchbox-input color-picker" onkeyup="buttonUp();" required>
                  <input type="submit" class="searchbox-submit" value="GO">
                  <span class="searchbox-icon"><i class="fa  fa-search" style="font-size: 21px;color: #fff;"></i></span> 
              </form>
            </div>
          </div>
          </th>
        </div>
        </tr>
      </thead>
      <tbody>
      
      <% @clients.each do |client| %>
      <%cls = @path.present? && @path[:client_id] == client.id.to_s ? 'tr-selected' : "" %>
      <tr class="">
        <td class="table-row-width"><div class="col-md-7"><%= link_to client.username, "#", class: "#{cls} show-client-events", data: { id: client.id } %></div>
        <div class="col-md-5">
        <button type="button" style="background-color: Transparent;background-repeat: no-repeat;border: none;cursor: pointer;overflow: hidden;outline:none;width: 45%;height: 30px;"><i class="fa  fa-edit btn-edit" style="font-size: 16px;color: #ddd;"></i></button>
        <button type="button" style="background-color: Transparent;background-repeat: no-repeat;border: none;cursor: pointer;overflow: hidden;outline:none;width: 45%;height: 30px;"><i class="fa  fa-times btn-del" style="font-size: 16px;color: #ddd;"></i></button>
        </div>
        </td>
      </tr>
      <% end %>
    </tbody></table>
    <button class="button button4 popup" id="popup" data-id= "abc2" ><i class="fa fa-plus-circle"></i> Add Client</button>
    </div>
    <div id="abc2">
    <!-- Popup Div Starts Here -->
      <div id="popupContact">
  <!-- Contact Us Form -->
        <%= form_for @client, url: photographer_clients_path, id: "form", html: { class: "form-action" } do |f| %>
          <%= image_tag ("close1.png"), class: "close", data: { id: "abc2" } %>
          <center><h2>Add a Client</h2></center>
          <fieldset>
              <%#= f.text_field :username, autofocus: true, :placeholder =>"User Name", :class => "first-field client_fields" %>

              <%= f.text_field :email, value: "", autocomplete: :off, autofocus: true, :placeholder =>"Email", :class => "first-field client_fields search_client_email" %>
              <div class="searched_email">
                  
              </div>
              <%#= f.password_field :password, autocomplete: "off", :placeholder => 'New Password', class: "first-field client_fields" %>

           </fieldset>
          <!-- <textarea id="msg" name="message" placeholder="Message"></textarea> -->
          <center><button type="submit" id="submit" class="button4">Add Client </button></center>
        <% end %>
      </div>
  <!-- Popup Div Ends Here -->
    </div>
  </div>
  <div class="events-section">
    <%#= render "events", client: @current_client, events: @current_client.events, event: @event  if @clients.present? %>
  </div>
  
</div>