<!-- Foter !-->
<footer>
<div>
	<div class="container">
		<div class="col-md-12 col-xs-12">
			<div class="col-md-9 col-sm-8 col-xs-6">
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4" style="background-color:#003366;border-top-left-radius: 1em;border-top-right-radius: 1em;padding-left: 0px;padding-right: 0px;    height: 50px; left: 100px;">
				<center><%= link_to image_tag("http://protonlabscom.ipage.com/piccati/proton.png", style:"height:39px; margin-top: 10px; margin-bottom: 10px;"), "http://protonlabscom.ipage.com", target: "_blank"%></center>
			</div>
			<div class="col-md-1 col-sm-2 col-xs-2">
			</div>
		</div>
	</div>
	<div style="background-color:#003366;padding: 0.5rem;">
		<div class="col-md-12">
			<div class="col-md-8">
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
</div>
</footer>
<!-- Foter !-->