<!-- Foter !-->
<footer>
<div>
	<div class="container">
		<div class="col-md-12">
			<div class="col-md-9">
			</div>
			<div class="col-md-2" style="background-color:#003366;border-top-left-radius: 1em;border-top-right-radius: 1em;padding-left: 0px;padding-right: 0px;    height: 50px;">
				<center><img src="http://protonlabscom.ipage.com/piccati/proton.png" style="width: 80%;;margin-top: 10px;margin-bottom: 10px;"></center>
			</div>
			<div class="col-md-1">
			</div>
		</div>
	</div>
	<div style="background-color:#003366;padding: 0.5rem;">
		<div class="col-md-12">
			<div class="col-md-8">
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
</div>
</footer>
<!-- Foter !-->